<!Doctype html>
<html>
<head>
	<title>Grading Rubric Form</title>
	<script src="angular/angular.min.js"></script>
	<meta name="description" content="proRubrics2">
	<meta name="proRubrics2" content="http://jeffmendez.com/public/images/jeff.jpg" />
	<meta name="keywords" content="web design, pro-leet-peeps, proleetpeeps,dynamic form">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"> 
	<link href="css/master.min.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="css/responsive.min.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="css/normalize.min.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="css/navbar.min.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="css/footer.min.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<link href="css/styles.min.css" media="screen, projection" rel="stylesheet" type="text/css" />
	<script src="controllers/MainController.js"></script>
</head>
<body>
<header>
		<h1>pro-leet-peeps</h1>
</header>



{{{ body }}}

<footer id="footer">
<p>pro-leet-peeps Team©</p>
</footer>

</body>
</html>
