/* color schematics */
$mainColor : rgba(100,50,30,.4);
/* end of schema */

footer {
  padding-top: 12px;
  background: #222;
  text-align: center;
  position: relative;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  color: #f6f1f2;
}
