<div class="modal-header">
    <h3 class="modal-title">{[{data.major}]}</h3>
</div>

<div class="modal-body">
    <div class="form-group">            
        <h4><strong>Rubric</strong>
         : {[{ data.rubric.name }]}
        </h4>

    <div ng-model="data.rubric">
        {[{ data.rubric.title }]}
    </div>
    
    <div>
        <button >{[{ data.rubric.grade }]}</button>
    </div>

        <!-- <div ng-repeat="section in sectionSplit">
            <label>Section</label>
            <input class="form-control" name="{[{ section }]}" placeholder="Enter Section Weight" type="text">

            <div ng-repeat="grade in gradeSplit">
                <button class="btn btn-default">{[{ grade }]}</button>
            </div>

        </div>   -->
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="calculateAudit(contact._id); reloadRoute()">Update Grades</button>
        </div>
    </div>
</div>