<<<<<<< HEAD
<div class="modal-header">
    <h3 class="modal-title">{[{data.major}]}</h3>
</div>

<div class="modal-body">
    <div class="form-group">            
    <h4><strong>Rubric</strong> : {[{ data.rubric.name }]}</h4>
        <div ng-repeat="section in sectionSplit">
            <label>Section</label>
            <input class="form-control" name="{[{ section }]}" placeholder="Enter Section Weight" type="text">

            <div ng-repeat="grade in gradeSplit">
                <button class="btn btn-default">{[{ grade }]}</button>
            </div>

        </div>  
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="update(contact._id); reloadRoute()">Update Grades</button>
        </div>
    </div>
</div>
=======
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Audit a Course</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.col-lg-12 -->

    <div class="row">
        <div class="col-lg-6">
            <uib-accordion close-others="oneAtATime">
                <uib-accordion-group heading="Select major and course" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                    <form name="userForm" class="panel-open" novalidate>                       
                        <div class="panel-body" >
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group" >    
                                        <div ng-click=find()>
                                            <label for="audit-form">{[{data.major}]}</label>
                                            <div>
                                                <select class="form-control" id="auditBtn">
                                                    <option ng-repeat="data in courses"  required name="{[{ data.major }]}" value="{[{ data.major }]}">{[{ data.major }]}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </uib-accordion-group>
            </uib-accordion>
        </div> 
    </div>
</div>


>>>>>>> b145e39649551cb95b327df6b747c72536956631
