<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1>{[{data.major}]}</h1>
                <div id="topBlock">
                x
                </div>
                    <div id="repeatData" ng-repeat="data in courses">
                        <div class="login-panel panel panel-default">
                                <div class="panel-heading">
                                    <h1 class="panel-title">{[{data.course}]}</h1>
                                </div>

                            <div class="panel-body">
                                <div class="modal-header">                        
                                    <p>{[{data.description}]}</p>
                                </div>
                            <div>
                                Grade
                                <input ng-model="data.rubric.grade"/>
                            </div>
                            <button ng-click="update(data._id)" class="btn btn-danger">Audit the Course</button>
                        </div>
                    </div>
        </div>
    </div>
</div>
