<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Course Dashboard</h1>

            <div>
                <ul class="dashList">
                    <li>Major</li> 
                    <li>Course</li>        
                    <li>Rubric</li>
                </ul>
            </div>

            <section ng-repeat="data in courses">
                <ul>
                    <li>{[{data.major}]}</li>
                    <li>{[{data.course}]}</li>
                    <li>{[{data.rubric.name}]}</li>
                    <li id="moveBlock">
                    <button ng-click="edit(data._id)" class="btn btn-default">Audit</button>
                    <button ng-click="edit(data._id)" class="btn btn-danger">Edit</button>
                   <button ng-click="remove(data._id)" class="btn btn-success">Remove</button>
                    </li>
                </ul>
            </section>


        </div>
    </div>
</div>
