<!DOCTYPE>
<html ng-app="DashCtrl">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

  <title>Course Dashboard</title>
</head>
<body>
  <div class="container">
    <h1>Course Dashboard</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Major</th>         
          <th>Course</th>
          <th>Description</th>
          <th>Action</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="courses in courses">
          <td>{[{courses.major}]}</td>
          <td>{[{courses.course]}}</td>
          <td>{{courses.description}}</td>
          <td><button class="btn btn-danger" ng-click="remove(courses._id)">Remove</button></td>
          <td><button class="btn btn-warning" ng-click="edit(courses._id)">Edit</button></td>
        </tr>
      </tbody>
    </table>

  </div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
<script src="/app/controllers/dashboardController"></script>
</body>
</html>