<!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Dashboard</h1>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> Rubric List
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body" ng-app="dynamicFormApp" ng-controller="mainController">
                            <div class="list-group">
                                <form name="rubricForm" action="/edit_course" method="post" novalidate>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-tasks fa-fw"></i> Web Interaction & Animation
                                        <span class="pull-right text-muted small">
                                        <button type="submit" class="btn btn-success">Edit</button>
                                        <button type="button" class="btn btn-danger">Remove</button></span>
                                    </a>
                                </form>


                                <form name="rubricForm" action="/edit_course" method="post" novalidate>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-tasks fa-fw"></i> Design Patterns for Web Programming
                                        <span class="pull-right text-muted small">
                                        <button type="submit" href="/edit_rubric"class="btn btn-success">Edit</button>
                                        <button type="button" class="btn btn-danger">Remove</button></span>
                                    </a>
                                </form>

                                <form name="rubricForm" action="/edit_course" method="post" novalidate>
                                    <a href="#" class="list-group-item">
                                        <i class="fa fa-tasks fa-fw"></i> Database Structures
                                        <span class="pull-right text-muted small">
                                        <button type="submit" href="/edit_rubric"class="btn btn-success">Edit</button>
                                        <button type="button" class="btn btn-danger">Remove</button></span>
                                        </span>
                                    </a>
                                </form>
                            </div>
                            <!-- /.list-group -->
                        </div>
                        <!-- /.panel-body -->
                    </div>

                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->