 <div class="container" ng-controller="dashboardController">
    <h1>Course Dashboard</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Major</th>         
          <th>Course</th>
          <th>Description</th>
          <th>Action</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="data in courses">
          <td>{[{data.major}]}</td>
          <td>{[{data.major]}}</td>
          <td>{{data.major}}</td>
          <td><button class="btn btn-danger" ng-click="remove(courses._id)">Remove</button></td>
          <td><button class="btn btn-warning" ng-click="edit(courses._id)">Edit</button></td>
        </tr>
      </tbody>
    </table>