<div id="page-wrapper">
    <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Course Dashboard</h1>


        <table class="table">
          <thead>
            <tr>
              <th>Major</th>         
              <th>Rubric</th>
              <th>Description</th>
              <th>Action</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
            <tr ng-repeat="data in courses">
              <td>{[{data.major}]}</td>
              <td>{[{data.rubric.name}]}</td>
            </tr>

      <!--   <tr>
          <td ng-repeat="major in courses">{[{major |json}]}</td>
        </tr>

        <tr>
          <td ng-repeat="major in courses">{[{major |json}]}</td>
        </tr>

        <tr>
          <td ng-repeat="major in courses">{[{major |json}]}</td>
        </tr> -->
          <td><button class="btn btn-danger" ng-click="remove(courses._id)">Remove</button></td>
          <td><button class="btn btn-warning" ng-click="edit(courses._id)">Edit</button></td>
        </tr>
    </table>
            </div>
        </div>
    </div>
</div>
=======

  </div>
>>>>>>> 3e4213444e4fc5ea1a213c2d5173c8482deec1d8
