<div id="page-wrapper">
    <div ng-controller="formsController">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Add Course</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default" >


            <div ng-controller="AccordionDemoCtrl">
              
              <uib-accordion close-others="oneAtATime">

                <uib-accordion-group heading="{[{group.title}]}" ng-repeat="group in groups">
                        <form name="userForm" ng-submit="submitForm(userForm.$valid)" novalidate>
                        
                            <div class="form-group">
                               
                            <div ng-repeat="item in formData">

                                <label>{[{ item.label }]}</label>


                    <!--  SELECT -->
                                <div ng-if="item.type === 'select'" class="form-group" ng-class="{ 'has-error' : userForm.{[{ item.name }]}.$invalid && !userForm.{[{ item.name }]}.$pristine }">
                                    <select ng-model="item.value">
                                        <option value="">--- Select a Major ---</option>
                                        <option required ng-repeat="option in item.options" name="{[{ item.name }]}" value="{[{option.value}]}">{[{option.value}]}</option>
                                    </select>
                                    <p ng-show="userForm.{[{ item.name }]}.$invalid && !userForm.{[{ item.name }]}.$pristine" class="help-block">Select a Department</p>
                                </div>


                    <!--  TEXT -->
                                <div ng-if="item.type === 'text'" class="form-group" ng-class="{ 'has-error' : userForm.{[{ item.name }]}.$invalid && !userForm.{[{ item.name }]}.$pristine }">
                                    <input type="text" class="form-control" name="{[{ item.name }]}" ng-model="item.value" placeholder="{[{item.placeholder}]}" required>
                                    <p ng-show="userForm.{[{ item.name }]}.$invalid && !userForm.{[{ item.name }]}.$pristine" class="help-block">Enter the full course name</p>
                                </div>


                    <!--  DATE -->
                                <div ng-if="item.type === 'date'" class="form-group" ng-class="{ 'has-error' : userForm.{[{ item.name }]}.$invalid && !userForm.{[{ item.name }]}.$pristine }">
                                    <input type="date" class="form-control" name="{[{ item.name }]}" ng-model="item.value" placeholder="{[{item.placeholder}]}" required>
                                    <p ng-show="userForm.{[{ item.name }]}.$invalid && !userForm.{[{ item.name }]}.$pristine" class="help-block">Enter a start date</p>
                                </div>


                    <!--  TEXTAREA -->
                                <div ng-if="item.type === 'textarea'" class="form-group" ng-class="{ 'has-error' : userForm.{[{ item.name }]}.$invalid && !userForm.{[{ item.name }]}.$pristine }">
                                    <textarea type="text" class="form-control" ng-model="item.value" ng-minlength="3" placeholder="{[{item.placeholder}]}" required>
                                    </textarea>
                                    <p ng-show="userForm.{[{ item.name }]}.$error.minlength" class="help-block">Message is too short.</p>
                                </div>

                    <!-- IF CHECKBOX -->          
                                <div ng-if="item.type === 'checkbox'" class="form-group" ng-class="{ 'has-error' : userForm.{[{ item.name }]}.$invalid && !userForm.{[{ item.name }]}.$pristine }">
                                    <input type="checkbox" name="{[{ item.name }]}" ng-model="item.value" value="{[{item.value}]}" required><span>I accept all the terms and conditions</span>
                                    <p ng-show="userForm.{[{ item.name }]}.$invalid && !userForm.{[{ item.name }]}.$pristine" class="help-block">Please agree to terms</p>     
                                </div>


                            </div>
                              
                            </div>
                           <button ng-click="showme=true" type="submit" class="btn btn-default" ng-disabled="userForm.$invalid">Submit</button>   
                        </form>
                </uib-accordion-group>

              </uib-accordion>
            </div>





                <div class="panel-heading" ng-hide="showme">
                    Select Degree Program and Course
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <!-- SECOND FORM -->


        <div ng-show="showme">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="resize">Add Rubric</h1>
                </div>
            <!-- /.col-lg-12 -->
            </div>

            <div class="col-lg-12">

                <form name="assignmentForm" ng-submit="submitAssignment(userForm.$valid)" novalidate>
        
            <div class="form-group">
              
            
            <div ng-repeat="item in assignmentData">

                <label>{[{ item.label }]}</label>
    <!--  SELECT -->
                <div ng-if="item.type === 'select'" class="form-group" ng-class="{ 'has-error' : userForm.{[{ item.name }]}.$invalid && !userForm.{[{ item.name }]}.$pristine }">
                    <select ng-model="item.value">
                        <option value="">--- Select a Major ---</option>
                        <option required ng-repeat="option in item.options" name="{[{ item.name }]}" value="{[{option.value}]}">{[{option.value}]}</option>
                    </select>
                    <p ng-show="userForm.{[{ item.name }]}.$invalid && !userForm.{[{ item.name }]}.$pristine" class="help-block">Select a Department</p>
                </div>
    <!--  TEXT -->
                <div ng-if="item.type === 'text'" class="form-group" ng-class="{ 'has-error' : userForm.{[{ item.name }]}.$invalid && !userForm.{[{ item.name }]}.$pristine }">
                    <input type="text" class="form-control" name="{[{ item.name }]}" ng-model="item.value" placeholder="{[{item.placeholder}]}" required>
                    <p ng-show="userForm.{[{ item.name }]}.$invalid && !userForm.{[{ item.name }]}.$pristine" class="help-block">Enter the full course name</p>
                </div>
    <!--  DATE -->
                <div ng-if="item.type === 'date'" class="form-group" ng-class="{ 'has-error' : userForm.{[{ item.name }]}.$invalid && !userForm.{[{ item.name }]}.$pristine }">
                    <input type="date" class="form-control" name="{[{ item.name }]}" ng-model="item.value" placeholder="{[{item.placeholder}]}" required>
                    <p ng-show="userForm.{[{ item.name }]}.$invalid && !userForm.{[{ item.name }]}.$pristine" class="help-block">Enter a start date</p>
                </div>

    <!--  TEXTAREA -->
                <div ng-if="item.type === 'textarea'" class="form-group" ng-class="{ 'has-error' : userForm.{[{ item.name }]}.$invalid && !userForm.{[{ item.name }]}.$pristine }">
                    <textarea type="text" class="form-control" ng-model="item.value" ng-minlength="3" placeholder="{[{item.placeholder}]}" required>
                    </textarea>
                    <p ng-show="userForm.{[{ item.name }]}.$error.minlength" class="help-block">Message is too short.</p>
                </div>
            </div>
              
            </div>
            <button ng-click="showStudent=true" type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>   
            </form> 
        </div>
    </div>

    <!-- Third FORM -->
        <div ng-show="showStudent">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="resize">Add Student</h1>
                </div>
            <!-- /.col-lg-12 -->
            </div>

            <div class="col-lg-12">
                <form name="studentForm" ng-submit="submitStudent(userForm.$valid)" novalidate>
        
            <div class="form-group">
              
            
            <div ng-repeat="item in studentData">

                <label>{[{ item.label }]}</label>
    <!--  SELECT -->
                <div ng-if="item.type === 'select'" class="form-group" ng-class="{ 'has-error' : userForm.{[{ item.name }]}.$invalid && !userForm.{[{ item.name }]}.$pristine }">
                    <select ng-model="item.value">
                        <option value="">--- Select a Major ---</option>
                        <option required ng-repeat="option in item.options" name="{[{ item.name }]}" value="{[{option.value}]}">{[{option.value}]}</option>
                    </select>
                    <p ng-show="userForm.{[{ item.name }]}.$invalid && !userForm.{[{ item.name }]}.$pristine" class="help-block">Select a Department</p>
                </div>
    <!--  TEXT -->
                <div ng-if="item.type === 'text'" class="form-group" ng-class="{ 'has-error' : userForm.{[{ item.name }]}.$invalid && !userForm.{[{ item.name }]}.$pristine }">
                    <input type="text" class="form-control" name="{[{ item.name }]}" ng-model="item.value" placeholder="{[{item.placeholder}]}" required>
                    <p ng-show="userForm.{[{ item.name }]}.$invalid && !userForm.{[{ item.name }]}.$pristine" class="help-block">Enter the full course name</p>
                </div>
    <!--  TEXTAREA -->
                <div ng-if="item.type === 'textarea'" class="form-group" ng-class="{ 'has-error' : userForm.{[{ item.name }]}.$invalid && !userForm.{[{ item.name }]}.$pristine }">
                    <textarea type="text" class="form-control" ng-model="item.value" ng-minlength="3" placeholder="{[{item.placeholder}]}" required>
                    </textarea>
                    <p ng-show="userForm.{[{ item.name }]}.$error.minlength" class="help-block">Message is too short.</p>
                </div>

    <!-- IF CHECKBOX -->          
                <div ng-if="item.type === 'checkbox'" class="form-group" ng-class="{ 'has-error' : userForm.{[{ item.name }]}.$invalid && !userForm.{[{ item.name }]}.$pristine }">
                    <input type="checkbox" name="{[{ item.name }]}" ng-model="item.value" value="{[{item.value}]}" required><span>I accept all the terms and conditions</span>
                    <p ng-show="userForm.{[{ item.name }]}.$invalid && !userForm.{[{ item.name }]}.$pristine" class="help-block">Please agree to terms</p>     
                </div>

            </div>
              
            </div>
           <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>   
        </form> 
    </div>

    <!-- <pre>
            <code>{[{ formData | json}]}</code>
        </pre> -->
          
        </div>
    </div>
</div>