    <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Add Rubrics</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Select Degree Program and Course
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form">
                                        <div class="form-group">
                                            <label>Select Degree Program</label>
                                            <select class="form-control">
                                                <option>Web Design & Development</option>
                                                <option>Mobile Development</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Select course</label>
                                            <select multiple class="form-control">
                                                <option>Digital Literacy</option>
                                                <option>Advanced Topics in Web Programming</option>
                                                <option>Principles of Production Process </option>
                                                <option>Advanced Server-side Languages</option>
                                                <option>Deployment of Web Application</option>
                                                <option>Networks and Server Structures</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Select Activities</label>
                                            <ul>
                                                <li>
                                                    <label class="radio-inline">
                                                        <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1" checked>Lab 1
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="radio-inline">
                                                        <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2">Lab 2
                                                    </label>
                                                </li>
                                                <li>
                                                    <label class="radio-inline">
                                                        <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline3" value="option3">Lab 3
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                        <button type="submit" class="btn btn-default" href="/edit_rubric">Submit Button</button>
                                        <button type="reset" class="btn btn-default">Reset Button</button>
                                    </form>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                                
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->






















   
