<div id="page-wrapper" ng-controller="mainController">
    <div class="row">
        <div class="col-lg-12">
        	<section id="moveContainer" >
							<div ng-view></div>			
        	</section>
		</div>
	</div>
</div>


