    <div class="modal-header">
        <h3 class="modal-title">{[{data.major}]}</h3>
    </div>

    <div class="modal-body">
            <ul>
                <li>
                    Course
                    <input value = "{[{data.course}]}" />
                </li>

                <li>
                    Description
                    <input value = "{[{data.description}]}" />
                </li>

                <li>
                    Rubric
                    <input value = "{[{data.rubric.name}]}" />
                </li>

                <li>
                    Title
                    <input value = "{[{data.rubric.title}]}" />
                </li>

                <li>
                    Grade
                    <input value = "{[{data.rubric.grade}]}" />
                </li>

                <li>
                    DueDate
                    <input type="date" value = "{[{data.rubric.dueDate}]}" />
                </li>

                <li>
                    Rubric Description
                    <input type="textarea" value = "{[{data.rubric.rubricdescription}]}" />
                </li>
            </ul>

        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="update(contact._id)">Edit</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
