    <div class="modal-header">
        <h3 class="modal-title" ng-model="data.major">Web Design and Development
        </h3>
    </div>

    <div class="modal-body">
            <ul id="test">
                <li>
                    <h1>Course</h1>
                    <p>Deployment of Web Applications</p>
                </li>

                <li>
                    <h1>Rubric</h1>
                </li>

                <li>
                    Lab 1
                    <button>10</button>
                    <button>20</button>
                    <button>40</button>
                    <button>60</button>
                    <button>80</button>
                    <button>100</button>

                </li>

                <li>
                    Lab 2
                    <button>10</button>
                    <button>20</button>
                    <button>40</button>
                    <button>60</button>
                    <button>80</button>
                    <button>100</button>

                </li>


                <li>
                    Lab 3
                    <button>10</button>
                    <button>20</button>
                    <button>40</button>
                    <button>60</button>
                    <button>80</button>
                    <button>100</button>

                </li>

                <li>
                    Lab 4
                    <button>10</button>
                    <button>20</button>
                    <button>40</button>
                    <button>60</button>
                    <button>80</button>
                    <button>100</button>

                </li>



            </ul>

        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="update(contact._id); reloadRoute()">Update Grades</button>
        </div>
