    <div class="modal-header">
<<<<<<< HEAD
        <h3 class="modal-title">{[{data.major}]}</h3>
    </div>

    <div class="modal-body">
            <ul id="test" class="list-unstyled">
                <li>
                    <p><strong class="strongFont">Course</strong></p>
                    <p>{[{ data.course }]}</p>
                </li>

                <li>
                    <p><strong class="strongFont">Description</strong></p>
                    <p>{[{ data.description }]}</p>
                </li>

                <li>
                    <p><strong class="strongFont">Rubric</strong></p>
                    <p>{[{ data.rubric.name }]}</p>
                </li>

                <li>
                    <p><strong class="strongFont">Sections</strong></p>
                    <div>
                        <p>{[{ data.rubric.title }]}</p>
                        <a ng-click="toggle = !toggle" ng-show="toggle">add a section category</a>                      
                    </div>
                    

                </li>

                <li><p><strong class="strongFont">Grade</strong></p>
                    <p>{[{ data.rubric.grade }]}</p>

                </li>

                <li><p><strong class="strongFont">Description</strong></p>
                    <p>{[{ data.description }]}</p>
                </li>
            </ul>


        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="exit()">Exit</button>
=======
        <h3 class="modal-title" ng-model="data.major">Web Design and Development
        </h3>
    </div>

    <div class="modal-body">
            <ul id="test">
                <li>
                    <h1>Course</h1>
                    <p>Deployment of Web Applications</p>
                </li>

                <li>
                    <h1>Rubric</h1>
                </li>

                <li>
                    Lab 1
                    <button>10</button>
                    <button>20</button>
                    <button>40</button>
                    <button>60</button>
                    <button>80</button>
                    <button>100</button>

                </li>

                <li>
                    Lab 2
                    <button>10</button>
                    <button>20</button>
                    <button>40</button>
                    <button>60</button>
                    <button>80</button>
                    <button>100</button>

                </li>


                <li>
                    Lab 3
                    <button>10</button>
                    <button>20</button>
                    <button>40</button>
                    <button>60</button>
                    <button>80</button>
                    <button>100</button>

                </li>

                <li>
                    Lab 4
                    <button>10</button>
                    <button>20</button>
                    <button>40</button>
                    <button>60</button>
                    <button>80</button>
                    <button>100</button>

                </li>



            </ul>

        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="update(contact._id); reloadRoute()">Update Grades</button>
>>>>>>> b145e39649551cb95b327df6b747c72536956631
        </div>
