<<<<<<< HEAD
<<<<<<< HEAD
 <div class="modal-header">
=======
    <div class="modal-header">
>>>>>>> 3a3b0717a18cf8462c0db71003d25583633f499b
=======

    <div class="modal-header">
=======
 <div class="modal-header">
>>>>>>> 039d2385ea6647611820f37d0c34c43bd4f84baf
>>>>>>> 117a0ccaba829a0eb41a805985631199f9464f3f
        <h3 class="modal-title">{[{data.major}]}</h3>
    </div>

    <div class="modal-body">
            <ul id="test" class="list-unstyled">
                <li>
                    <p><strong class="strongFont">Course</strong></p>
                    <p>{[{ data.course }]}</p>
                </li>

                <li>
                    <p><strong class="strongFont">Description</strong></p>
                    <p>{[{ data.description }]}</p>
                </li>

                <li>
                    <p><strong class="strongFont">Rubric</strong></p>
                    <p>{[{ data.rubric.name }]}</p>
                </li>

                <li>
                    <p><strong class="strongFont">Sections</strong></p>
                    <div ng-repeat="section in sectionSplit">
<<<<<<< HEAD
<<<<<<< HEAD
                        
                        <p>{[{ section }]}</p>
                        <a ng-click="toggle = !toggle" ng-show="toggle">add a section category</a><div ng-hide="toggle"><input name="newSectionCat"><button ng-click="addSectionCat()">add category</button></div>
                        
=======
=======

>>>>>>> 117a0ccaba829a0eb41a805985631199f9464f3f
                        <p>{[{ section }]}</p>
                        <a ng-click="toggle = !toggle" ng-show="toggle">add a section category</a>
                        <div ng-hide="toggle">
                        <form>
                            <input placeholder="name of category" name="sectionCat">
                            <input placeholder="Description of category" type="textarea" name="sectionDesc">
                            <button ng-click="add()">add category</button>
                        </form>
                        </div>                       
<<<<<<< HEAD
>>>>>>> 3a3b0717a18cf8462c0db71003d25583633f499b
=======
>>>>>>> 117a0ccaba829a0eb41a805985631199f9464f3f
                    </div>
                    

                </li>

                <li><p><strong class="strongFont">Grade</strong></p>
                    <p>{[{ data.rubric.grade }]}</p>

                </li>

                <li><p><strong class="strongFont">Description</strong></p>
                    <p>{[{ data.description }]}</p>
                </li>
            </ul>


        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="cancel()">Exit</button>
        </div>
