/* color schematics */
$mainColor : rgba(118,140,245,.6);
/* end of schema */

footer {
  padding-top: 12px;
  background: $mainColor;
  text-align: center;
  position: relative;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  color: #f6f1f2;
}
