$mainNavy : rgba(6, 31, 48, 1);
$mainLightNavy : rgba(62, 69, 112, 1);
$mainGreen : rgba(56, 170, 131, 1);
$mainLightCoolGrey : rgba(162, 185, 186, 1);
$mainDarkOrange : rgba(162, 185, 186, 1);

/* color schematics */
$mainColor : rgba(118,140,245,.6);
/* end of schema */


.panel-heading {
    background-color: lightcoral;
}
