/* color schematics */
$mainColor : rgba(255,190,0,.4);

.navbar {
    position: fixed;
    min-height: 50px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid transparent;
    transition: 1s ease-in-out;
 }

.sidebar {
    height:100%;
    min-height:100%;
    width: 100%;
}
select #auditBtn{
    width:100%;
}
#page-wrapper {
}
