/* color schematics */
$mainColor : rgba(118,140,245,.6);
/* end of schema */


.navbar {
    position: fixed;
    min-height: 50px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid transparent;
}
