@import 'styles';

.addingDegreeCourse{
  position: absolute;
  left: 15px;
  top: 0px;
}

.addingRubric{
  position: absolute;
  left: 315px;
    top: -5px;
}

.addingStudent{
  position: absolute;
  left: 435px;
  top: -5px;
}

.input-group-searchbox {
    position: relative;
    display: inline-table;
    border-collapse: separate;
    width: 94%;
    margin: 10px;
}

.divider {
  height: 1px;
  margin: 1px 0;
  overflow: hidden;
  background-color: #353542 }

.btn-danger {
    color: #fff;
    background-color: #747EA1;
    border-color: #747EA1;
    margin-top: 0;
    margin-left: 0;
}