/* color schematics */
$mainColor : rgba(118,140,245,.6);
/* end of schema */

/* tablets */
@media (max-width: 699px) {
	.page-header{
		margin-top:120px;
		text-align:center;
	}
	
}

/* mobile phones */
@media (max-width: 460px) {
.page-header{
		margin-top:120px;
		text-align:center;
	}
	.input-group-searchbox {
	   position: relative;
	   display: inline-table;
	   border-collapse: separate;
	   width: 94%;
	   margin: 10px;
	}
	.navbar {
	    transition: 2s ease-in-out;
	 }
	 .navbar li a{
	 	text-align:center;
	 }

	.sidebar{
		transition: 2 ease;
	} 
}