/* color schematics */
$mainColor : rgba(118,140,245,.6);
/* end of schema */

/* tablets */
@media (max-width: 699px) {
	.page-header{
		margin-top:120px;
		text-align:center;
	}
	
}




/* mobile phones */
@media (max-width: 460px) {

.page-header{
		margin-top:120px;
		text-align:center;
	}


}