@import 'styles';

/* color schematics */
$mainColor : rgba(118,140,245,.6);
/* end of schema */

/* tablets */
@media (max-width: 699px) {
	.page-header{
		margin-top:120px;
		text-align:center;
	}
	
}

/* mobile phones */
@media (max-width: 460px) {
.page-header{
		margin-top:120px;
		text-align:center;
	}

.input-group-searchbox {
    position: relative;
    display: inline-table;
    border-collapse: separate;
    width: 94%;
    margin: 10px;
}

.nav > li > a {
    text-align: center;
}

.row {
	margin-top: 0;
    margin-right: 0px;
    margin-left: 0px;
}

.sidebar ul li {
    border-bottom: .5px solid #3e4570;
    font-size: 20px;
}

}